<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>srvUsuario</servlet-name>
        <servlet-class>Servlets.srvUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvCategoria</servlet-name>
        <servlet-class>Servlets.srvCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvCliente</servlet-name>
        <servlet-class>Servlets.srvCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvCargo</servlet-name>
        <servlet-class>Servlets.srvCargo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvProducto</servlet-name>
        <servlet-class>Servlets.srvProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvEmpleado</servlet-name>
        <servlet-class>Servlets.srvEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvProveedor</servlet-name>
        <servlet-class>Servlets.srvProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvUsu</servlet-name>
        <servlet-class>Servlets.srvUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvTipo_Pago</servlet-name>
        <servlet-class>Servlets.srvTipo_Pago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvVenta</servlet-name>
        <servlet-class>Servlets.srvVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvReporte</servlet-name>
        <servlet-class>Servlets.srvReporte</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>srvUsuario</servlet-name>
        <url-pattern>/srvUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvCategoria</servlet-name>
        <url-pattern>/srvCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvCliente</servlet-name>
        <url-pattern>/srvClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvCargo</servlet-name>
        <url-pattern>/srvCargo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvProducto</servlet-name>
        <url-pattern>/srvProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvEmpleado</servlet-name>
        <url-pattern>/srvEmpleados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvProveedor</servlet-name>
        <url-pattern>/srvProveedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvUsu</servlet-name>
        <url-pattern>/srvUsus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvTipo_Pago</servlet-name>
        <url-pattern>/srvTipo_Pago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvVenta</servlet-name>
        <url-pattern>/srvVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvReporte</servlet-name>
        <url-pattern>/srvReporte</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
